{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4>Contact</h4>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet debitis dolore est ex hic iure laudantium,
    minus, neque numquam officia repudiandae voluptatibus! Eius et expedita explicabo neque quisquam tempore totam.
</div>
<div>Aliquam aperiam deleniti dignissimos distinctio ducimus expedita ipsa nihil, nostrum sint voluptas. Aliquid eum
    impedit, maxime odit quis repellendus tempora velit. At eum magnam pariatur placeat sit. Laboriosam, ut, veniam.
</div>
<div>Architecto autem commodi consectetur consequatur, delectus dolore eos explicabo fuga harum labore laboriosam,
    libero, maxime molestias neque nulla obcaecati possimus rem repellendus unde veritatis? Accusantium culpa ex
    laboriosam praesentium vel.
</div>
<div>Ad alias architecto dicta ducimus eos id numquam recusandae. Accusamus animi error ex quia repudiandae soluta
    voluptatum! Beatae cupiditate dicta distinctio ducimus eaque iste itaque nesciunt rem, sequi totam vitae!
</div>
<div>Eius eveniet nobis quidem repellat tempora! Cumque eligendi expedita, magni molestiae placeat provident sunt
    tenetur totam ut voluptatibus! Dicta dolorum excepturi quam quasi reprehenderit voluptate voluptates?
    Dignissimos explicabo fugit quos?
</div>
<div>Alias hic laborum nulla officia quasi quod ullam. Aliquam dicta enim exercitationem, fugit harum in ipsum
    itaque laborum officiis, porro reprehenderit tempore. Dolor dolorum laudantium, minima optio praesentium quasi
    voluptatibus.
</div>
<div>Cumque debitis, iure natus pariatur ratione vitae? Cupiditate deleniti ducimus incidunt odio placeat quae,
    ratione repellendus ullam veniam voluptatibus. Atque ducimus ipsa labore magni minus molestias rem sed vel
    veritatis!
</div>
<div>Id iure iusto quam quidem vitae voluptatum! Architecto consequatur deserunt obcaecati, odit quam recusandae
    repudiandae suscipit veniam? Corporis cupiditate, dolorem earum facilis incidunt quas quibusdam quos,
    reprehenderit temporibus unde voluptates?
</div>
<div>Consectetur corporis hic molestias nobis perferendis qui recusandae sapiente vero voluptas. Corporis cupiditate
    doloremque, explicabo fuga fugit labore nam necessitatibus numquam officia placeat, soluta, suscipit ut vero
    voluptas voluptatem voluptatum.
</div>
<div>Accusamus, nobis optio! Culpa, dolore eligendi eos fugit molestias mollitia officia, perspiciatis soluta sunt
    tempora tenetur unde velit voluptatem? Cupiditate doloribus enim fuga ipsam maiores necessitatibus nostrum
    possimus praesentium quos.
</div>
{% endblock %}