{% extends 'base.html' %}

{% block content %}
    <h1>New Password</h1>


    <form method="post">
        {% csrf_token %}
        <div class="form_error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p class="auth_form_input auth_form_input__label">
                <label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
            </p>
            <div class="form_error">{{ f.errors }}</div>
        {% endfor %}
        <button class="form_btn" type="submit">Submit</button>
    </form>
{% endblock %}
