.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px auto;
  max-width: 1200px;
  width: 100%;
  border-radius: 6px;
  &_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    margin-right: 190px;
    max-width: 180px;
    width: 100%;
    img {
      width: 56px;
      height: 56px;
    }
    p {
      font-weight: 500;
      margin-left: 8px;
      font-size: 19px;
    }
  }
  .header_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 890px;
    &_nav {
      display: flex;
      flex-direction: row;
      p {
        margin: 0 12px;
      }

    }
    &_user {
      display: flex;
      flex-direction: row;
      &_info {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          margin-left: 8px;
        }
      }
      li {
        margin: 0 16px;
        img {
          width: 24px;
        }
      }
    }
  }
}


.main {
  width: 100vw;
  display: flex;
  &_one {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  .sidebar {
    margin: 80px 210px 30px 44px;
    max-width: 244px;
    width: 100%;
    &_title {
      font-weight: 600;
      text-transform: uppercase;
      margin: 16px 0;
    }
    .categories {

      &_item {
        margin: 6px 0;
      }
    }
    .tags {
      &_list {
        display: flex;
        flex-direction: row;
        max-width: 240px;
        width: 100%;
      }
      &_item{
        max-width: 80px;
        width: 100%;
        background-color: #c0bfbf;
        border-radius: 27px;
        padding: 4px 14px;
        display: flex;
        justify-content: center;
        margin: 4px;
        a {
          text-overflow: ellipsis;
          white-space: nowrap; /* Запрещаем перенос строк */
          overflow: hidden;
        }

      }
    }

  }
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 690px;
    width: 100%;
    margin-top: 60px;
  }
}



.auth {
  max-width: 392px;
  width: 100%;
  margin: 70px 0 0 50px;
  &_form {
    &_error {
      max-width: 372px;
      width: 100%;
      font-size: 16px;
      ul, li {
        color: #9d1010;
      }

    }
    &_input {
      input {
        border: 1px solid black;
        border-radius: 14px;
        padding: 9px;
        max-width: 185px;
        width: 100%;
      }
    }
  }
}

.form_review{
  &_error {
    max-width: 372px;
    width: 100%;
    font-size: 16px;

    ul, li {
      color: #9d1010;
    }
  }
  .add_title, .add_text textarea{
    border: 1px solid black;
    border-radius: 4px;
    max-width: 427px;
    width: 100%;
    padding: 6px
  }
  .add_text textarea{
    height: 300px;
  }
  .add_image input::file-selector-button{
    background-color: #9292b7;
    background-position-x: 0%;
    background-size: 200%;
    border: 0;
    border-radius: 8px;
    color: #fff;
    padding: 11px 26px;
    text-shadow: 0 1px 1px #333;
    transition: all 0.25s;
  }
  &_select {
    margin-top: 6px;
    select{
      width: 120px;
      height: 26px;
    }

  }
  &_label {
    margin: 0;
  }

  &_publish {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
    p{
      margin-left: 5px;
    }
  }
}

.review {
  width: 560px;
  border: 0.8px solid #989696;
  border-radius: 4px;
  margin-bottom: 60px;
  &_header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  &_line {
    margin: 0 auto;
    border: 0.4px solid #989696;
    width: 524px;
    height: 1px;
  }
  &_content {
    display: flex;
    flex-direction: column;
    h2 {

    }
    &_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 60px 40px;
      }
      &_text {
        margin: 40px 10px;
      }
      img {
        max-width: 222px;
        width: 100%;
      }
    }
    &_btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 46px 25px 0;
      &_edit {
        width: 30px;
        margin-right: 14px;
      }
      a{
        color: white;
      }

    }
    &_update {
      margin: 0 0 0 20px;
    }
  }
  &_btn {
    background-color: #7e7eea;
    padding: 12px 23px;
    border-radius: 15px;
  }
}

.profile{
  max-width: 320px;
  width: 100%;
  &_form {
    &_img {
      width: 120px;
    }
    button {
      margin-top: 20px;
    }
    &_inputs {
      input {
        border: 1px solid black;
        border-radius: 14px;
        padding: 9px;
        max-width: 185px;
        width: 100%;
      }
    }
    &_inputs_main {
      margin-top: 26px;
      .add_image input::file-selector-button{
        background-color: #9292b7;
        background-position-x: 0%;
        background-size: 200%;
        border: 0;
        border-radius: 8px;
        color: #fff;
        padding: 11px 26px;
        text-shadow: 0 1px 1px #333;
        transition: all 0.25s;
      }
    }

  }
}

.pagination_list {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 8px;
  }
}







